.space { 
	margin-top: 150px; 
}

.minispace { 
	margin-top: 50px; 
}

.centerme {
	margin: auto;
	width:150px;
}

.centertext {
	text-align: center;
}

.largetext {
	font-size: 5rem;
}

.mediumtext {
	font-size: 3rem;
/*	font-family: 'AppFont' !important;*/
}

.custom-spinner {
  width: auto;
  height: 80px !important;
}

.cutoff {
	text-overflow: ellipsis;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
}

.nomoves {
	margin: auto;
	width: 80%;
}

.lessmargin {
	margin-bottom: -20px;
}

#container {
  margin: auto;
  width: 90px;
  height: 90px;
}

#containerbig {
  margin: auto;
  width: 200px;
  height: 100px;
}

.path {
  stroke-dasharray: 400;
  animation: dash 5s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 800;
  }
}